<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/aad5qid.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% load static%}
    <link rel="stylesheet" type="text/css" href="{% static "/main/css/coaches-corner.css" %}">
    <script src="{% static '/main/js/coaches-cornerjs' %}"></script>
    <title>Home Page | JR Hoya CC</title>
</head>
<body>

    <div class="navbar-layout">
        <nav>
            <a href="{% url "main:home_page" %}"><img src="../static/main/img/logo.jpg" alt=""></a>
        
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{% url "main:home_page" %}">Home</a></li>
                    <li><a href="{% url "main:about_page" %}">About</a></li>
                    <li><a href="{% url "main:schedule_page" %}">Schedule</a></li>
                    <li><a href="{% url "main:coach_bios" %}">Coach Bios</a></li>
                    <li><a href="{% url "main:coaches_corner" %}">Coach Corner</a></li>
                    <li><a href="{% url "main:coming_soon" %}">Results</a></li>
                </ul>
            </div>
        
            <i class="fa fa-bars" onclick="showMenu()"></i>
        
            <script>
                var navLinks = document.getElementById('navLinks');
                function showMenu() {
                    navLinks.style.display = 'block';
                    navLinks.style.right = '0';
                }
        
                function hideMenu() {
                    navLinks.style.display = 'none';
                    navLinks.style.right = '-200px';
                }
            </script>
        </nav>
    </div>


    <div class="div-01-layout">
        <div class="div-01-body">

            <div class="left-div-01">

            </div>

            <div class="right-div-01">
                <h1>Coaches Corner</h1>

                <div class="devider"></div>
                
                <p>Jr Hoya Cross Country and Track</p>
            </div>

        </div>
    </div>

    <div class="div-02-layout">
        <div class="div-02-body">
            <div class="div-02-intro">
                <h1>July</h1>
                <p>Wise Words</p>
                <p>Running 101: "Run Often, Mostly Easy, Some Moderate, A little Fast"</p>
            </div>

            <div class="div-02-middle">
                <h1>Great article on "Fueling Your Engine for Exercise"</h1>
                <p>For runners with less than 4 years of running experience, it is wise to eat a meal a minimum of 90 minutes before practice.
                    If an early morning meal is not possible maybe try a light snack and late dinner after practice.
                </p>
                <p>All of the coaches have commented on what a dedicated groupe of runners we have this summer. I appreciate their willingness
                    to work hard, and the coaches will work hard to keep cross country positive, and rewarding experience.
                </p>
                <h1>Coach B.</h1>
            </div>

            <div class="div-02-bottom">
                <h1>June</h1>
                <p>The summer running program runs through Aug 9. In order to get a t-shirt, you must run the assigned number of minutes each
                    week and turn in a weekly log of runs at the following link: <a href="https://docs.google.com/forms/d/e/1FAIpQLSeQCNb6l6EN2HLoMi63SENXYW55VnWDjv0VKIXxEZVU2d3ckA/viewform?vc=0&c=0&w=1&usp=mail_form_link">Jr Hoya weekly Running Log</a>.
                    The plan below will serve as guide on how to break the weekly numbers into manageable segments. In addition, the form will change each week to indicate
                    the suggested number of minutes for each day. We will start our summer program with a 4 week build up and then settle into 8 weeks of "normal" runs. You can 
                    run on any day, as long as your weekly total meets the requirements. Running rewards consistency! Consistency running = fun!
                </p>
            </div>
        </div>
    </div>

    <div class="div-03-layout">
        <div class="div-03-body">

            <div class="div-03-intro">
                <h1>T-Shirt Requirements</h1>
            </div>

            <table class="table-01">
                <tr class="weekdays">
                  <th>Week</th>
                  <th>Mon</th>
                  <th>Tue</th>
                  <th>Wed</th>
                  <th>Thu</th>
                  <th>Fri</th>
                  <th>Sat</th>
                  <th>Sun</th>
                  <th>Total</th>
                </tr>
                <tr>
                  <td>18-May</td>
                  <td>Off</td>
                  <td>10</td>
                  <td>Off</td>
                  <td>10</td>
                  <td>Off</td>
                  <td>10</td>
                  <td>Off</td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>25-May</td>
                  <td>Off</td>
                  <td>15</td>
                  <td>Off</td>
                  <td>15</td>
                  <td>Off</td>
                  <td>15</td>
                  <td>Off</td>
                  <td>45</td>
                </tr>
                <tr>
                  <td>1-Jun</td>
                  <td>Off</td>
                  <td>20</td>
                  <td>Off</td>
                  <td>20</td>
                  <td>Off</td>
                  <td>20</td>
                  <td>Off</td>
                  <td>60</td>
                </tr>
                <tr>
                  <td>8-Jun</td>
                  <td>Off</td>
                  <td>20</td>
                  <td>Off</td>
                  <td>20</td>
                  <td>Off</td>
                  <td>20</td>
                  <td>20</td>
                  <td>80</td>
                </tr>
                <tr>
                  <td>15-Jun</td>
                  <td>Off</td>
                  <td>25</td>
                  <td>Off</td>
                  <td>25</td>
                  <td>Off</td>
                  <td>25</td>
                  <td>Off</td>
                  <td>75</td>
                </tr>
                <tr>
                  <td>22-Jun</td>
                  <td>Off</td>
                  <td>30</td>
                  <td>Off</td>
                  <td>30</td>
                  <td>Off</td>
                  <td>30</td>
                  <td>10</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>29-Jun</td>
                  <td>Off</td>
                  <td>30</td>
                  <td>Off</td>
                  <td>30</td>
                  <td>Off</td>
                  <td>40</td>
                  <td>Off</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>6-Jul</td>
                  <td>Off</td>
                  <td>30</td>
                  <td>Off</td>
                  <td>30</td>
                  <td>Off</td>
                  <td>40</td>
                  <td>10</td>
                  <td>110</td>
                </tr>
                <tr>
                  <td>13-Jul</td>
                  <td>Off</td>
                  <td>30</td>
                  <td>Off</td>
                  <td>30</td>
                  <td>Off</td>
                  <td>50</td>
                  <td>Off</td>
                  <td>110</td>
                </tr>
                <tr>
                  <td>20-Jul</td>
                  <td>Off</td>
                  <td>30</td>
                  <td>Off</td>
                  <td>30</td>
                  <td>Off</td>
                  <td>50</td>
                  <td>15</td>
                  <td>125</td>
                </tr>
                <tr>
                  <td>27-Jul</td>
                  <td>Off</td>
                  <td>30</td>
                  <td>Off</td>
                  <td>30</td>
                  <td>Off</td>
                  <td>50</td>
                  <td>Off</td>
                  <td>110</td>
                </tr>
                <tr>
                  <td>3-Aug</td>
                  <td>Off</td>
                  <td>30</td>
                  <td>Off</td>
                  <td>30</td>
                  <td>Off</td>
                  <td>50</td>
                  <td>20</td>
                  <td>130</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>1000</td>
                </tr>
            </table>

            <div class="warning-01">
                <p>*All numbers are in minutes.</p>
            </div>
            
        </div>
    </div>

    <div class="div-04-layout">
        <div class="div-04-body">
            <p>Is anyone up for a special challenge? While the requirements above will qualify you for a t-shirt, you
                can earn a special prize (to be announced later) by completing the more challenging plan below. Parents, 
                please be advised that the coaches challenge is not appropriate for most new runners. This is open to anyone 
                but is intendend forour returning 7th and 8th grade atheltes. Please use your own discretion on wether your child
                can handle the coaches challenge.
            </p>
        </div>
    </div>

    <div class="div-05-layout">
      <div class="div-05-body">

        <div class="div-05-intro">
          <h1>Coaches Challenge</h1>
        </div>

        <table class="table-02">
          <tr class="weekdays-02">
            <th>Week</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
            <th>Total</th>
          </tr>
          <tr>
            <td>18-May</td>
            <td>Off</td>
            <td>15</td>
            <td>Off</td>
            <td>15</td>
            <td>Off</td>
            <td>15</td>
            <td>Off</td>
            <td>45</td>
          </tr>
          <tr>
            <td>25-May</td>
            <td>Off</td>
            <td>20</td>
            <td>Off</td>
            <td>20</td>
            <td>Off</td>
            <td>20</td>
            <td>Off</td>
            <td>60</td>
          </tr>
          <tr>
            <td>1-Jun</td>
            <td>Off</td>
            <td>20</td>
            <td>Off</td>
            <td>20</td>
            <td>Off</td>
            <td>20</td>
            <td>20</td>
            <td>80</td>
          </tr>
          <tr>
            <td>8-Jun</td>
            <td>Off</td>
            <td>20</td>
            <td>20</td>
            <td>20</td>
            <td>Off</td>
            <td>20</td>
            <td>20</td>
            <td>100</td>
          </tr>
          <tr>
            <td>15-Jun</td>
            <td>Off</td>
            <td>30</td>
            <td>20</td>
            <td>20</td>
            <td>Off</td>
            <td>30</td>
            <td>20</td>
            <td>120</td>
          </tr>
          <tr>
            <td>22-Jun</td>
            <td>Off</td>
            <td>30</td>
            <td>Off</td>
            <td>30</td>
            <td>Off</td>
            <td>30</td>
            <td>20</td>
            <td>110</td>
          </tr>
          <tr>
            <td>29-Jun</td>
            <td>Off</td>
            <td>30</td>
            <td>20</td>
            <td>30</td>
            <td>Off</td>
            <td>30</td>
            <td>20</td>
            <td>130</td>
          </tr>
          <tr>
            <td>6-Jul</td>
            <td>Off</td>
            <td>30</td>
            <td>20</td>
            <td>30</td>
            <td>Off</td>
            <td>40</td>
            <td>20</td>
            <td>140</td>
          </tr>
          <tr>
            <td>13-Jul</td>
            <td>Off</td>
            <td>30</td>
            <td>30</td>
            <td>30</td>
            <td>Off</td>
            <td>50</td>
            <td>20</td>
            <td>160</td>
          </tr>
          <tr>
            <td>20-Jul</td>
            <td>Off</td>
            <td>30</td>
            <td>Off</td>
            <td>30</td>
            <td>Off</td>
            <td>50</td>
            <td>20</td>
            <td>130</td>
          </tr>
          <tr>
            <td>27-Jul</td>
            <td>Off</td>
            <td>30</td>
            <td>30</td>
            <td>30</td>
            <td>Off</td>
            <td>50</td>
            <td>20</td>
            <td>160</td>
          </tr>
          <tr>
            <td>3-Aug</td>
            <td>Off</td>
            <td>30</td>
            <td>30</td>
            <td>30</td>
            <td>Off</td>
            <td>60</td>
            <td>20</td>
            <td>170</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>1300</td>
          </tr>
        </table>

        <div class="div-05-bottom">
          <p>*All numbers are in minutes.</p>
        </div>

      </div>
    </div>

    <div class="div-06-layout">
      <div class="div-06-body">
        <p>Get your parents to post a picture of you each week on the 
          <a href="https://www.facebook.com/groups/1671677629828322/">Jr Hoya Facebook page</a>! 
          Show your friends that you are working on earning that t-shirt!
        </p>
      </div>
    </div>


</body>
</html>