<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
</head>
<body>

    <div class="div-01-layout">
        <div class="div-01-body">
            <h1>Coming Soon</h1>
            <img src="../static/main/img/coming-soon.png" alt="">
        </div>
    </div>
    
    <style>
        .div-01-layout {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .div-01-body {
            text-align: center;
        }
        .div-01-body img {
            width: 50%;
            max-width: 100px;
        }
    </style>
</body>
</html>